<!DOCTYPE html>
<html>
<head>
	<title>Hello page</title>
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<script type="text/javascript">
		function submit_message() {
			alert("Form submission complete");
		}
	</script>
</head>
<body>
<center>
	<h2>Login Form</h2>
	<form method="get" action="form_submission" onsubmit="submit_message()">
		<input type="text" name="first_name" required placeholder="First Name"/>
		<br/><br/><br/>
		<input type="text" name="last_name" required placeholder="Last Name"/>
		<br/><br/><br/>
		<input type="submit" name="submit">
	</form>
</center>
</body>
</html>
